@model MusicCollaborationManager.Models.DTO.FullPlaylistDTO


<script src="https://open.spotify.com/embed-podcast/iframe-api/v1" async></script>
<div class="flex flex-col w-fit">
    <div class="flex flex-col ml-5 mr-8 w-auto lg:ml-10 bg-secondaryback classicpanda:bg-coreback shadow-xl shadow-gray-950 rounded-xl px-5 pt-6 pb-8 mb-4 overflow-hidden">
        <div>
            <h2 class="font-bold mb-5 mt-1 text-textback text-2xl classicpanda:text-whitetext luxury:text-yellow-500">@Model.Name</h2>
            <h2 class="font-bold mb-5 mt-1 text-textback text-xl classicpanda:text-whitetext luxury:text-yellow-500">@Model.Owner</h2>
        </div>
        <div class="classicpanda:text-blacktext flex flex-col md:flex-row bg-primback classicpanda:bg-primback shadow-xl shadow-gray-950 rounded-xl px-5 pt-6 pb-8 mb-8 gap-x-4">
            @if (Model.ImageURL is null)
            {
                <img src="@Model.ImageURL" alt="Playlist Image"
                     class="text-textback classicpanda:text-blacktext hidden" />
                <div class="flex h-fit bg-primback classicpanda:bg-primback shadow-xl shadow-gray-950 rounded-xl px-5 pt-6 pb-6 items-center">
                    <p class="text-textback classicpanda:text-blacktext">@Model.Desc</p>
                </div>
            }
            else
            {
                <img src="@Model.ImageURL" alt="Playlist Image"
                     class="text-textback classicpanda:text-blacktext w-[300px] h-[300px]" />
                <div class="flex h-fit bg-primback classicpanda:bg-primback shadow-xl shadow-gray-950 rounded-xl px-5 pt-6 pb-6 items-center mt-11">
                    <p class="text-textback classicpanda:text-blacktext">@Model.Desc</p>
                </div>
            }
        </div>
        <div class="flex flex-col">
            <h1 class="text-textback classicpanda:text-whitetext">Tracks</h1>
            <div class="classicpanda:text-blacktext flex bg-primback classicpanda:bg-primback shadow-xl shadow-gray-950 rounded-xl px-5 pt-6 pb-8 mb-8 h-[500px] overflow-y-auto">
                <table class="">
                    <tr>
                        <th>#</th>
                        <th>Track Image</th>
                        <th>Title</th>
                        <th>Artist</th>
                    </tr>
                    @{
                        int trackIndex = 0;
                        foreach (var track in Model.Tracks)
                        {
                            <tr>
                                <td>@(trackIndex + 1)</td>
                                <td><a href="@track.LinkToTrack"><img src="@track.ImageURL" alt="" class="text-textback classicpanda:text-blacktext md:w-[300px] md:h-[300px]"></img></a></td>
                                <td>@track.Title</td>
                                <td>@track.Artist</td>
                            </tr>
                            trackIndex++;
                        }
                    }
                </table>
            </div>
        </div>

    </div>
</div>


<div class="-z-50" style="width: 0; height: 0; border: 0; border: none; position: absolute;">
    <div id="embed-iframe" style=""></div>
</div>

<script>

    window.onSpotifyIframeApiReady = (IFrameAPI) => {
        let element = document.getElementById('embed-iframe');
        let options = {
            width: '80%',
            height: '400',
            uri: 'spotify:track:4cktbXiXOapiLBMprHFErI' //Memories - Maroon 5

        };
        let callback = (EmbedController) => {
            document.querySelectorAll('.playable-item').forEach(
                episode => {
                    episode.addEventListener('click', () => {
                        EmbedController.loadUri(episode.dataset.spotifyId)
                        EmbedController.play();
                    });
                })
        };
        IFrameAPI.createController(element, options, callback);

    };
    console.log("Spotify player should be loaded")
</script>


@section Scripts{
    <script type="text/javascript" src="~/js/generatedplaylists.js"></script>
    <script type="text/javascript" src="~/js/colorchanger.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
}