@model MusicCollaborationManager.ViewModels.UserProfileViewModel

<div class="flex flex-col lg:ml-24 ml-56 mt-36 lg:w-screen">
    <div class="flex flex-col justify-center items-center">
        <div>
            <img src="@Model.profilePic" class="object-contain h-48 w-90" />
        </div>
        <div class="bg-gray-800 my-3 p-3 rounded-lg shadow-2xl">
            <h1 class="font-bold text-5xl text-white">Personal Information</h1>
            <h2 class="text-white text-2xl p-1">@Model.fullName</h2>
            <h2 class="text-white text-2xl p-1">@Model.aspUser.Identity.Name</h2>
        </div>
        <div class="bg-gray-800 my-3 p-3 rounded-lg shadow-2xl">
            <h1 class="font-bold text-5xl text-white p-1">Spotify Information</h1>
            <h2 class="text-white text-2xl p-1">Username: @Model.spotifyName</h2>
            <h2 class="text-white text-2xl p-1">Subscription Type: @Model.accountType</h2>
            <h2 class="text-white text-2xl p-1">Country: @Model.country</h2>
            <h2 class="text-white text-2xl p-1">Number of Followers: @Model.followerCount</h2>
        </div>
        <div class="bg-gray-800 my-3 p-3 rounded-lg shadow-2xl">
            <h1 class="font-bold text-5xl text-white">Current Services</h1>
            <div class="table">
                <div class="table-header-group">
                    <div class="table-cell text-white text-2xl p-2">Service</div>
                    <div class="table-cell text-white text-2xl p-2">Username</div>
                </div>
                <div class="table-row-group">
                    <div class="table-row">
                        <div class="table-cell text-white text-1xl p-3">Spotify</div>
                        <div class="table-cell text-white text-1xl p-3">@Model.spotifyName</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







