@model List<String>

<div class="flex flex-col ml-5 mr-32 md:ml-8 lg:ml-20">
    <div class="w-auto bg-secondaryback classicpanda:bg-coreback shadow-xl shadow-gray-950 rounded-xl px-5 pt-6 pb-8 mb-4">
        <h1 class="font-header font-bold text-5xl text-textback classicpanda:text-whitetext p-2 luxury:text-yellow-500 autumn:text-white revolution:text-white">Generator FAQ</h1>
        <p class="font-header font-bold text-1xl text-textback classicpanda:text-whitetext p-2 luxury:text-yellow-500 autumn:text-white revolution:text-white">Select a topic to learn more about it</p>
        <br />
        <div class="text-1xl classicpanda:font-header font-bold text-textback classicpanda:text-whitetext p-2 luxury:text-yellow-500 autumn:text-white revolution:text-white shadow-xl shadow-gray-950 rounded-xl px-5 pt-6 pb-8 mb-4">
            <button type="button" class="collapsible text-2xl">General Info & How to Use</button>
            <div class="hidden content">
                <br />
                <p>
                    Welcome to Music Collaboration Manager's playlist generators! Each of our playlist generators offers a unique way to generate a new playlist for you and add it to your Spotify account. Now I know what you are thinking,
                    why would I want a playlist generator when I can just make one on my own? Well simply put, using one of our generators is much faster and can give you a playlist on the fly! Whether it be an emergency road-trip playlist
                    or you need some tunes for your night on the town, you can quickly and easily generate a playlist using Music Collaboration Manager. At most, you will have to input some basic information and then let our application
                    handle the rest. After that, you will have an entire playlist in just a couple of minutes! On top of the speed and ease that you will be able to make a playlist, you will hopefully be able to discover some new music as well.
                    Since there is some level of randomness to the generators, we hope that Music Collaboration Manager can introduce you to new music that you will love!
                </p>
                <br />
                <p>
                    As for how to use the generators, each one will be a little different in how they work. You can see more information on what to expect from each generator below. That being said, you need to make sure that you are signed
                    into your Spotify account on Music Collaboration Manager, otherwise, the generator will fail and you will be told as much. To sign into your account, simply open the side navigation bar and click on the Spotify login button.
                    From there your MCM account should be linked with your Spotify account and you can process with generating a playlist. 
                </p>
                <br />
                <p>
                    Once your playlist is generated you will be taken to a page where you can see which songs are in your new playlist. From here you can sample any of the songs to see if you like them. If there are any you don't like, you
                    can easily remove them by clicking the X on that specific song. You can also add them back again at the bottom of the page if you change your mind. After that, you can choose to save or discard the playlist. If you choose
                    to save it, the playlist will be added to your Spotify account. If you choose to discard it, the playlist will not be saved and you will be able to try to generate a playlist again.
                </p>
            </div>
        </div>          
        <br />
        <div class="text-1xl classicpanda:font-header font-bold text-textback classicpanda:text-whitetext p-2 luxury:text-yellow-500 autumn:text-white revolution:text-white shadow-xl shadow-gray-950 rounded-xl px-5 pt-6 pb-8 mb-4">
            <button type="button" class="collapsible text-2xl">Questionnaire Generator</button>
            <div class="hidden content">
                <br />
                <p>The questionnaire generator is a highly customizable playlist generator. With this generator, you will be able to select a genre and then adjust various levels of the songs within this genre to give you a high level
                    of control over your new playlist. Simply move the sliders to the values you desire and you will get back the closest match with the values you input. It should be known that this generator is not perfect and if you
                    input values that don't make sense, you may not get back the expected results. For example, if you select death metal for your genre and then choose to make it have a very low energy and be very happy, your results
                    may not be the best. You will still get back a playlist, but it may not be what you are looking for.
                </p>
                <br />
                <iframe width="420" height="315"
                        src="@Model[0]" allowfullscreen>
                </iframe>
            </div>
        </div>
        <br />
        <div class="text-1xl classicpanda:font-header font-bold text-textback classicpanda:text-whitetext p-2 luxury:text-yellow-500 autumn:text-white revolution:text-white shadow-xl shadow-gray-950 rounded-xl px-5 pt-6 pb-8 mb-4">
            <button type="button" class="collapsible text-2xl">Mood Generator</button>
            <div class="hidden content">
                <br />
                <p>
                    The mood generator is the perfect way to quickly generate a playlist based on how you feel! Whether you are in a calm mood and looking to relax or are filled with an all-consuming rage, we got you covered. Simply
                    select one of our six moods available and we will provide you with the perfect playlist.
                </p>
                <br />
                <iframe width="420" height="315"
                        src="@Model[1]" allowfullscreen>
                </iframe>
            </div>
        </div>
        <br />
        <div class="text-1xl classicpanda:font-header font-bold text-textback classicpanda:text-whitetext p-2 luxury:text-yellow-500 autumn:text-white revolution:text-white shadow-xl shadow-gray-950 rounded-xl px-5 pt-6 pb-8 mb-4">
            <button type="button" class="collapsible text-2xl">Related Artist Generator</button>
            <div class="hidden content">
                <br />
                <p>Not written yet</p>
                <br />
                <iframe width="420" height="315"
                        src="@Model[6]" allowfullscreen>
                </iframe>
            </div>
        </div>
        <div class="text-1xl classicpanda:font-header font-bold text-textback classicpanda:text-whitetext p-2 luxury:text-yellow-500 autumn:text-white revolution:text-white shadow-xl shadow-gray-950 rounded-xl px-5 pt-6 pb-8 mb-4">
            <button type="button" class="collapsible text-2xl">Time Generator</button>
            <div class="hidden content">
                <br />
                <p>
                    The time-based generator allows you to find the perfect music based on the time and day of a standard workweek. Whether you are working a 9 to 5 and need some music to help you focus or are a go-getter who gets
                    up at 4 am to run two miles, we got you covered. This generator takes no input and will generate itself based on what time and day you are using it. It is based on a standard work week which is 9 to 5, Monday to
                    Friday. This means that the songs you generate on a Monday night will be calm and relaxing since you would have work the next day. Contrast this with a Friday night being much more upbeat and energetic because
                    you are going into the weekend.
                </p>
                <br />
                <iframe width="420" height="315"
                        src="@Model[2]" allowfullscreen>
                </iframe>
            </div>
        </div>
        <br />
        <div class="text-1xl classicpanda:font-header font-bold text-textback classicpanda:text-whitetext p-2 luxury:text-yellow-500 autumn:text-white revolution:text-white shadow-xl shadow-gray-950 rounded-xl px-5 pt-6 pb-8 mb-4">
            <button type="button" class="collapsible text-2xl">Top Artist Generator</button>
            <div class="hidden content">
                <br />
                <p>The top artist generator finds your top artists on Spotify and generates a playlist based on those artists. This means you can find more music from the artists you love and find artists similar to them. 
                    This generator is very simple to use! All you have to do is select the generate button and it will automatically find you top artists and generate the playlist. You do not need to put in any input on 
                    this one as it is fully automated. Just sit back and watch the magic happen!
                </p>
                <br />
                <iframe width="420" height="315"
                        src="@Model[4]" allowfullscreen>
                </iframe>
            </div>
        </div>
        <br />
        <div class="text-1xl classicpanda:font-header font-bold text-textback classicpanda:text-whitetext p-2 luxury:text-yellow-500 autumn:text-white revolution:text-white shadow-xl shadow-gray-950 rounded-xl px-5 pt-6 pb-8 mb-4">
            <button type="button" class="collapsible text-2xl">Top Track Generator</button>
            <div class="hidden content">
                <br />
                <p>
                    The top track generator finds your top tracks on Spotify and generates a playlist based on those top tracks! This means you can listen to music similar to what you already love and potentially discover new tracks
                    and favorites. This generator is super easy to use as all you have to do is select the generate button and it will automatically find your top tracks and generate the playlist. You do not need to put any input on this
                    one as it is fully automated! Just sit back and watch the magic happen.
                </p>
                <br />
                <iframe width="420" height="315"
                        src="@Model[3]" allowfullscreen>
                </iframe>
            </div>
        </div>
        <br />
        <div class="text-1xl classicpanda:font-header font-bold text-textback classicpanda:text-whitetext p-2 luxury:text-yellow-500 autumn:text-white revolution:text-white shadow-xl shadow-gray-950 rounded-xl px-5 pt-6 pb-8 mb-4">
            <button type="button" class="collapsible text-2xl">Track Input Generator</button>
            <div class="hidden content">
                <br />
                <p>
                    The track input generator allows you to select a single track to have a playlist generated on. This generator will automatically find your top tracks and display them to you. From there you will be able to select
                    one of these tracks and have it generate a playlist with songs similar to the track selected. This generator will allow you to find tracks very similar to the one you select and will help you to discover new music
                    that is akin to what you already love.
                </p>
                <br />
                <iframe width="420" height="315"
                        src="@Model[5]" allowfullscreen>
                </iframe>
            </div>
        </div>
        <br />
        <div class="text-1xl classicpanda:font-header font-bold text-textback classicpanda:text-whitetext p-2 luxury:text-yellow-500 autumn:text-white revolution:text-white shadow-xl shadow-gray-950 rounded-xl px-5 pt-6 pb-8 mb-4">
            <button type="button" class="collapsible text-2xl">AI Generation</button>
            <div class="hidden content">
                <br />
                <p>
                    On all of the generator pages, except the track input page, there are places to input information for you to put in a prompt for an AI to generate an image and a description based on your prompt. When you generate a
                    playlist and have these prompts filled out, an AI will generate an image and a description for your playlist. You will be able to see both of these on the same page where you can see your generated playlist. When you
                    save your playlist the image and description the AI created will be assigned to the image and description of the new playlist in your Spotify account. If you choose to leave these two blank, neither will be created and
                    your playlist will not have an image or a description when it is generated. As mentioned previously, the track input generator does not have prompts to be filled out and is completely automatic. It will automatically
                    create an image and a description based on the track you selected. 
                </p>
                <br />
                <iframe width="420" height="315"
                        src="@Model[7]" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</div>


@*<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>
*@

@section Scripts
    {
    <script src="~/js/collapse.js"></script>

}