@using Microsoft.IdentityModel.Tokens
@model MusicCollaborationManager.ViewModels.GeneratorsViewModel

@{
    ViewData["Title"] = "Home Page";
}

<script src="https://open.spotify.com/embed-podcast/iframe-api/v1" async></script>
<div class="flex flex-col ">
    <div class="flex flex-col ml-5 mr-8 w-auto lg:ml-10 md:w-[35%] bg-secondaryback classicpanda:bg-coreback shadow-xl shadow-gray-950 rounded-xl px-5 pt-6 pb-8 mb-4 overflow-hidden">
        <div>
            <img src="~/img/spotify-logo-white.png" class="w-32 h-10" />
            <h2 id="playlistTitle" class="font-bold mb-5 mt-1 text-textback text-xl classicpanda:text-whitetext luxury:text-yellow-500">@Model.PlaylistTitle</h2>
        </div>

        <div class="classicpanda:text-blacktext flex bg-primback classicpanda:bg-primback shadow-xl shadow-gray-950 rounded-xl px-5 pt-6 pb-8 mb-8 gap-x-4">
            @if (Model.PlaylistCoverImageUrl is null)
            {
                <img src="@Model.PlaylistCoverImageUrl" alt="Playlist Image"
                     class="text-textback classicpanda:text-blacktext hidden" />
                <div class="flex h-fit bg-primback classicpanda:bg-primback shadow-xl shadow-gray-950 rounded-xl px-5 pt-6 pb-6 items-center">
                    <p class="text-textback classicpanda:text-blacktext" id="visible-playlist-description">@Model.PlaylistDescription</p>
                </div>
            }
            else
            {
                <img src="@Model.PlaylistCoverImageUrl" alt="Playlist Image"
                     class="text-textback classicpanda:text-blacktext" />
                <div class="flex h-fit bg-primback classicpanda:bg-primback shadow-xl shadow-gray-950 rounded-xl px-5 pt-6 pb-6 items-center mt-11">
                    <p class="text-textback classicpanda:text-blacktext" id="visible-playlist-description">@Model.PlaylistDescription</p>
                </div>
            }
        </div>

        <div class="flex flex-col">
            <h1 class="text-textback classicpanda:text-whitetext">Tracks</h1>
            <div class="flex gap-x-3 md:max-h-auto3 w-[360px] md:w-auto overflow-x-auto mr-6 md:mr-0 text-center text-lg">
                @{
                    int trackIndex = 0;
                    foreach (var track in Model.fullResult)
                    {
                        <div class="flex flex-col min-w-[200px] max-w-auto bg-primback text-textback p-2 rounded-lg gap-y-3" id="song-preview-@trackIndex">
                            <i id="remove-entry-icon-@trackIndex" class="cursor-pointer fa-solid fa-x text-textback classicpanda:text-blacktext hover:text-textback/50 re-add-entry classicpanda:hover:text-gray-400 remove-track-btn"></i>
                            <img src="@track.Album.Images[0].Url" />
                            <h2 class="text-textback classicpanda:text-blacktext">Track Name: <span id="entry-track-name-@trackIndex">@track.Name</span></h2>
                            <h2 class="text-textback classicpanda:text-blacktext">Album Name: <span id="entry-album-name-@trackIndex">@track.Album.Name</span></h2>
                            <button class="playable-item hover:text-textback classicpanda:text-blacktext" id="track-@trackIndex" data-spotify-id="@track.Uri"><i class="fa-solid fa-play fa-xl"></i></button>
                        </div>
                        trackIndex++;
                    }
                }
            </div>
        </div>

        <div class="flex flex-col mt-5">
            <div class="mt-20" id="embed-iframe"></div>
        </div>

        <div class="flex flex-col mt-5">
                <h2 class="font-header text-center text-textback classicpanda:text-whitetext text-2xl">Removed tracks</h2>
                <div class="table">
                    <div class="table-header-group">
                        <div class="font-header table-cell text-textback classicpanda:text-whitetext text-xl p-2">Track</div>
                        <div class="font-header table-cell text-textback classicpanda:text-whitetext text-xl p-2">Album</div>
                        <div class="table-cell text-textback classicpanda:text-whitetext text-xl p-2"></div> <!--Column for "add" btn. (Which is NOT meant to be visible.)-->
                    </div>
                    <div class="table-row-group" id="removed-tracks-table-body">
                    </div>
                </div>
                <div class="table-row-group" id="removed-tracks-table-body">
                </div>
            </div>

        <form class="bg-secondaryback classicpanda:bg-coreback flex flex-col gap-x-3.5 gap-y-4 mt-6" id="playlist-form">
            @{
                for (int i = 0; i < Model.fullResult.Count; i++)
                {
                    <input id="track-@i-input" value="@Model.fullResult.ElementAt(i).Uri" type="hidden" name="NewTrackUris" />
                }

                <input type="text" name="NewPlaylistName" value="@Model.PlaylistTitle" id="new-playlist-name" class="hidden" maxlength="100" />
            }


            <button class="w-full flex-shrink-0 bg-gray-600 hover:bg-gray-400 text-textback font-bold py-2 px-4 border-b-4 border-gray-700 hover:border-gray-500 rounded
                                classicpanda:text-whitetext
                                autumn:text-white
                                revolution:text-white"
                    type="button" id="save-playlist-btn">
                Save playlist
            </button>
            <button class="w-full flex-shrink-0 bg-gray-600 hover:bg-gray-400 text-textback font-bold py-2 px-4 border-b-4 border-gray-700 hover:border-gray-500 rounded
                                classicpanda:text-whitetext
                                autumn:text-white
                                revolution:text-white"
                    type="button" id="discard-playlist-btn">
                Discard playlist
            </button>

        </form>

        </div>

        <form id="upload-playlist-cover-form" class="hidden">
            <input type="text" name="PlaylistId" value="" placeholder="Future playlistId" id="new-playlist-id" />
            <input type="text" name="PlaylistImgBaseString" value="@Model.PlaylistImgBase64" placeholder="PlaylistImgBaseString" id="playlist-img-input-extra"/>

        </form>
    </div>
</div>

<script>
    window.onSpotifyIframeApiReady = (IFrameAPI) => {
        let element = document.getElementById('embed-iframe');
        let options = {
            width: '50%',
            height: '450',
            uri: 'spotify:track:4cktbXiXOapiLBMprHFErI' //Memories - Maroon 5

        };
        let callback = (EmbedController) => {
            document.querySelectorAll('.playable-item').forEach(
                episode => {
                    episode.addEventListener('click', () => {
                        EmbedController.loadUri(episode.dataset.spotifyId)
                        EmbedController.play();
                    });
                })
        };
        IFrameAPI.createController(element, options, callback);

    };
</script>



@section Scripts
    {
    <script type="text/javascript" src="~/js/generatedplaylists.js"></script>

}

