@using SpotifyAPI.Web;
@model MusicCollaborationManager.ViewModels.TrackInputViewModel


<div class="flex flex-col w-fit">
    <div class="flex flex-col ml-5 mr-8 w-auto lg:ml-10 md:w-[35%] lg:w-[65%] bg-secondaryback classicpanda:bg-coreback shadow-xl shadow-gray-950 rounded-xl px-5 pt-6 pb-8 mb-4 overflow-hidden">
        <div>
            <h1 class="font-bold mb-5 mt-1 text-textback text-xl classicpanda:text-whitetext luxury:text-yellow-500">Select a Track</h1>
        </div>
        <br>
        <div class="flex flex-col gap-x-3 text-center text-lg">
            <div class="flex flex-row gap-x-3 md:max-h-auto3 w-[340px] md:w-auto overflow-x-auto mr-8 md:mr-0 text-center text-lg">
                @{
                    foreach (FullTrack track in Model.seedTracks)
                    {
                        <form asp-controller="Generator" asp-action="TrackInputPost">
                            <div class="flex flex-col min-w-[200px] max-w-auto bg-primback text-textback p-2 rounded-lg">
                                <input asp-for="trackID" class="hidden" value="@track.Id">
                                <input asp-for="trackName" class="hidden" value="@track.Name">
                                <input asp-for="artistName" class="hidden" value="@track.Artists[0].Name">
                                @{                                    
                                    <button id="inputTrack" type="submit" aria-current="page"><img src="@track.Album.Images[0].Url"></button>
                                }                                
                                <p>@track.Name</p>
                            </div>
                        </form>
                    }
                }             
            </div>
            <br />
            <label class="flex items-center relative w-max cursor-pointer select-none">
                <span class="text-textback classicpanda:text-blacktext font-bold p-2">Make playlist public on Spotify?</span>
                <input id="playlistVisibilityInput" asp-for="playlistIsPublicOnSpotify" value="false" type="checkbox" class="appearance-none transition-colors cursor-pointer w-14 h-7 rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-black focus:ring-blue-500 bg-red-500" />
                <span class="absolute font-medium text-xs uppercase right-1 text-white"></span>
                <span class="absolute font-medium text-xs uppercase right-8 text-white"></span>
                <span class="w-7 h-7 right-7 absolute rounded-full transform transition-transform bg-gray-200" />
            </label>
        </div>           
    </div>
</div>


@section Scripts
    {
    
}